* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
    background-color: white; 
}

body{
    background-color: white;
    display: flex;
    justify-content: center;
}
.full-container{
    background-color: white;
    height: 30%;
    width: 50%;
}
.container-1 img{
    padding-top: 1rem;
    padding-left: 13rem;
    height: 10rem;
    display: flex;
    justify-content: center;

}
.container-2{
    padding-top: 3rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    
}
input{
    border-top: none;
    border-right:none;
    border-left: none;
    margin-top: 25px;
    border-bottom: 2px solid #f5f5f5;
}
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 1px;
    margin-right: 2rem;
}
input:focus{
    outline: none;
}

.column{
    flex: 1;
    margin-top: 20px; 
    padding-left: 20px; 
    padding-right: 20px;
}
select{
    width: 37.7rem;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
    height: 3rem;
    background-color: #f5f5f5;
    color: #d2d2d2;
    padding: 5px;
    margin-top: 10px;
    -webkit-appearance: none;
}
#street,#city,#state,#zip,#email,#fname,#lname,#phone{
    width: 100%;
    margin: 2px;
}
input[type=submit]{
    width: 100%;
    height: 3rem;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    background-color: #2c246c;
    color: #f5f5f5;
}
input[type=range]{
    width: 87%;
    accent-color: #2c246c;
    margin-left: 3rem;
}
form{
    border: 4px solid #f5f5f5;
}
h4{
    text-align: center;
    font-weight: light;
}
#Address{
    text-align: center;
    padding-left: 21px;
}
#viewing{
    width: 50%;
}
#country_input{
    width: 36.9rem;
    margin-left: 20px;
    margin-top: 0;
}

#country{
    padding-top: 15px;
    padding-left: 20px;
}

#interest{
    border: 1px solid #f5f5f5;
    width: 37.5rem;
    height: 8rem;
    border-radius: 3px;
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
}

hr{
    border: 2px solid #f5f5f5;
}
p{
    font-size: small;
    padding-right: 3px;
    
}
option{
    padding: 2px;
}
#vertical{
    padding: 0;
    margin: 0;
}
#vertical{
    margin-top: 2px;
}
#hr{
    height: 5.01rem;
    border: 0.5px solid #f5f5f5;
}
span{
    color: #2c246c;
    font-size: 15px; 
    
}
label{
    margin-bottom: 10px;
    font-weight: 400;
}
#range-part{
    position: absolute;
    padding-left:33.7rem;
}
#end-value{
    position: absolute;
    top: 90.5rem;
}
#last-value{
    position: absolute;
    top: 90.5rem;
}
.select-section,#selectbar{
    position: absolute;
}
.img-1{
    position: absolute;
    top: 69rem;
    left: 66.8rem;
}
.img-2{
    position: absolute;
    top: 76.3rem;
    left: 66.8rem;
}
.img-3{
    position: absolute;
    top: 83.8rem;
    left: 66.8rem;
}
.hr-1,.hr-2,.hr-3{
    margin-top: 10px;
}